html,
body
{
    height: 100%;
font-family: Arial, Helvetica, sans-serif;  
background-color: floralwhite;  
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.board-container {
    height: 100%;
    width: 100%;
}

.square {
    width: 200px;
    height: 200px;
    border: 3px solid;
}