html,
body {
  height: 100%;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: wheat;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  color: black;
  margin-bottom: 10px;
  margin-left: 10px;
}

.board-container {
  height: 100%;
  width: 100%;
}

.board {
  width: 618px;
}

.square {
  width: 200px;
  height: 200px;
  border: 3px solid navy;
  font-size: 56px;
}

.square:hover {
  background-color: floralwhite;
}

.winner {
    display: none;
    padding: 10px;
    font-size: 32px;
    color: royalblue
}

.reset {
    padding: 10px;
    margin: 10px;
}